*.class
*.pyc
/external_tools/
/figures/
/results/
*.AT2
*.VT2
*.DT2
_SearchResults.csv
tacc/*.sh
tacc/*_taskfile
tacc/*/
/results
/data
/figures
/src/chosing_dt/
/tacc/generate_taskfile_no_llrs.py
/src/structural_analysis/response_2d_openseesrt.py
